<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Remember, the goal here is to get a user to log in and only see their own content in app</p>
<p>Routes</p>
http://localhost:3000/home
http://localhost:3000/contact
http://localhost:3000/about
should be register http://localhost:3000/register
http://localhost:3000/login



<br>

logout is not working
<%= link_to "Logout", destroy_user_session_path, method: :delete%>
<%= link_to "Logout", destroy_user_session_path, method: :delete%>